.header__top {
  border-color: ;
}

.header__top_menugr {
  display: flex;
  list-style: none;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
  margin: 0;
}

.header__top_menu {
  list-style: none;
  padding: 0;
}

.header__top_menutext {
}
