/* 모든 요소가 공통으로 적용되는 초기화 규칙 */
*, /* 모든 요소*/
*::after, /* 각 요소의 콘덴츠 뒤에 삽입되는 의사 요소, , 보통 content 속성과 함께 사용해 장식용 텍스트나, 아이콘, 레이아웃용 블록 등을 추가할때 사용.  */
*::before {
  /* 각 요소의 콘덴츠 앞에 삽입되는 의사 요소, 보통 content 속성과 함께 사용해 장식용 텍스트나, 아이콘, 레이아웃용 블록 등을 추가할때 사용.  */
  box-sizing: border-box; /* 박스 모델을 border-box로 설정. 요소의 width, height 값이 콘덴츠+패딩+테두리를 포함하도록 하는 것, 박스 사이즈 계산이 편리해짐. 마진만 고려하면 됨 */
  margin: 0; /* 브라우저 기본 마진 제거 */
  padding: 0; /* 브라우저 기본 패딩 제거*/
}

:root {
  --primary: #ffffff;
  --sceondary: #fafafa;
  --border: #dbdbdb;

  --story-border: #c7c7c7;

  --text-dark: #262626;
  --text-light: #999999;

  --blue: #1e90ff;
  --white: #ffffff;
}

:root.darkTheme {
  --primary: #000000;
  --secondary: #050505;
  --border: #262626;

  --story-border: #707070;

  --text-dark: #cacaca;
  --text-light: #636363;

  --blue: #16599c;
  --white: #c8c8c8;
}

/* 모든 SVG 아이콘의 색상을 --text-dark로 변경 */
:root.darkTheme .header__buttons svg,
:root.darkTheme .post__button svg {
  fill: var(--white);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  background-color: var(--primary);
  color: var(--text-dark);
}

h2 {
  border-bottom: 2px solid var(--blue);
}

img {
  max-width: 100%;
  background-color: transparent;
}

.content-container {
  color: var(--blue);
  background-color: var(--white);
  padding: 15px;
}

button {
  background-color: var(--white);
  color: var(--blue);
  border: 1px solid var(--blue);
  padding: 5px;
}
