/* 모든 요소가 공통으로 적용되는 초기화 규칙 */
*, /* 모든 요소*/
*::after, /* 각 요소의 콘덴츠 뒤에 삽입되는 의사 요소, , 보통 content 속성과 함께 사용해 장식용 텍스트나, 아이콘, 레이아웃용 블록 등을 추가할때 사용.  */
*::before {  /* 각 요소의 콘덴츠 앞에 삽입되는 의사 요소, 보통 content 속성과 함께 사용해 장식용 텍스트나, 아이콘, 레이아웃용 블록 등을 추가할때 사용.  */
    box-sizing: border-box;  /* 박스 모델을 border-box로 설정. 요소의 width, height 값이 콘덴츠+패딩+테두리를 포함하도록 하는 것, 박스 사이즈 계산이 편리해짐. 마진만 고려하면 됨 */
    margin:0; /* 브라우저 기본 마진 제거 */
    padding:0; /* 브라우저 기본 패딩 제거*/
}

body {
    min-height: 100vh; /* 최소 높이를 100vh로 기본 설정, 화면이 짧아도 body요소가 전체를 채우도록 함 */
    display: flex; /* flexbox 레이아웃을 적용하여 자식 요소 배치를 유연하게 제어 가능 */
    flex-direction:column; /* 주축 main axis를 수직방향 column으로 설정, 자식 요소들이 위>아래 순으로 배치됨 */
    overflow-y: auto; /* 세로 방향 overflow-y 콘덴츠가 영역을 벗어나면 자동으로 스크롤바가 생기도록 설정 */
}

img {
    max-width: 100%; /* 감싸는 부모요소 기준 최고 가로(너비) 100% */
}